.work-panel-main-container {
  display: flex;
  flex-direction: column;
  height: 360px;
  min-width: 30%;
  max-width: 30%;
  background: #112240;
  border-radius: 20px;
  position: relative;
}

.work-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 50px;
}

.right-panel-content {
  display: flex;
  gap: 20px;
}

.work-panel-left-logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #c094d3;
}

.work-panel-right-logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ccd6f6;
}

.work-panel-right-logo:hover {
  color: #c094d3;
}

.work-panel-body-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  gap: 5px;
}

.panel-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: white;
}

.panel-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(204, 214, 246, 0.7);
}

.work-panel-footer {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  gap: 25px;
  position: absolute;
  bottom: 0;
  margin: 0 0 20px;
}

.footer-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8892b0;
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .work-panel-main-container {
    height: 400px;
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-height: 1023px) {
  .work-panel-main-container {
    min-width: 45%;
    max-width: 45%;
  }
}
