.footer-main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 24px;
  width: 24px;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-right: 16px;
  color: #b0b2c3;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8892b0;
}
