.projects-panel-wrapper {
  height: 360px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background: #112240;
  border-radius: 20px;
  position: relative;

  .projects-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    padding: 25px;

    .projects-panel-left-logo {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #c094d3;
    }

    .right-panel-content {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  .projects-panel-body-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    gap: 5px;

    .panel-title {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: white;
    }

    .panel-description {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      color: rgba(204, 214, 246, 0.7);
      line-height: 26px;
    }
  }

  .projects-panel-footer {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    gap: 25px;
    position: absolute;
    bottom: 0;
    margin: 0 0 20px;

    .tech-label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #8892b0;
    }
  }
}

.panel-logo-wrapper {
  background-color: transparent;
  border: none;
  margin: 0;

  .panel-logo {
    font-size: 20px;
    color: #ccd6f6;
  }

  .panel-logo:hover {
    color: #c094d3;
  }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .projects-panel-main-wrapper {
    height: 400px;
    width: 100%;
  }
}

@media screen and (min-height: 1023px) {
  .projects-panel-main-wrapper {
    width: 45%;
  }
}
