.about-main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  .developer-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .about-label {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      color: #c094d3;
    }

    .about-me-content {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .about-me-sub-container {
        margin-right: 70px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        padding-left: 15px;

        .about-me-text {
          width: 100%;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #8892b0;
          text-align: justify;
          overflow: hidden;
          line-height: 30px;
        }

        .tech-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .tech-listing {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
        }

        .tech-stack-panel {
          display: flex;
          justify-content: flex-start;
          border-radius: 4px;
          border: 1px solid #c094d3;

          padding: 6px 10px;

          :nth-child(1) {
            font-size: 14px;
            color: #c094d3;
          }
        }
      }
    }

    .developer-photo {
      height: 280px;
      width: 280px;
      border-radius: 20px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .about-main-container {
    margin-bottom: 17%;

    height: 100%;

    .developer-profile {
      .about-label {
        font-size: 20px;
      }

      .about-me-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .about-me-sub-container {
          .about-me-text {
            font-size: 16px;
            padding-left: 3%;
          }

          .tech-listing-spacing {
            margin-right: 0;
            font-size: 16px;
          }
        }

        .developer-photo {
          margin-bottom: 10px;

          height: 200px;
          width: 200px;
        }
      }
    }
  }
}
