.header-main-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  margin-left: -70px;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  color: #ccd6f6;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80.63380281690141%;
}

.header-btn-text-spacing {
  margin-left: 4%;
}

.header-btn-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ccd6f6;
}

.header-btn-text:hover {
  color: #c094d3;
}

.header-btn-border {
  background: transparent;
  border: none;
}

@media (max-width: 767px) {
  .header-main-container {
    margin-left: auto;
    padding-right: 0;
  }
}
