.hamburger-main-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #CCD6F6;
}

.hamburger-logo {
  height: 25px;
  width: 25px;
  color: #CCD6F6;
}

.hamburger-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8892b0;
}
