.home-container {
  display: flex;
  flex-direction: row;
  background: #0a1930;
}

.introduction-section {
  padding: 0 15%;
  margin-left: -120px;
}

.about-section {
  padding: 0 15%;
  margin: 0 0 17% -120px;
}

.works-section {
  padding: 0 15%;
  margin: 0 0 16% -120px;
}

.contact-section {
  margin-left: -120px;
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .content-main-section {
    width: 100%;
  }

  .content-sub-section.open {
    filter: blur(5px);
  }

  .introduction-section {
    padding: 0 7%;
    margin: 0;
  }

  .about-section {
    padding: 0 7%;
    margin-top: 25%;
    margin-left: 0;
  }

  .works-section {
    padding: 0 7%;
    margin-top: 25%;
    margin-left: 0;
  }

  .sidebar-section {
    display: none;
  }

  .contact-section {
    margin: 78% 0 67% 0;
  }
}
