.home-container {
  display: flex;
  flex-direction: row;
  background: #0a1930;
}

.introduction-section {
  padding: 0 15%;
  margin-left: -120px;
}

.content-section-padding {
  padding: 0 15%;
  margin-left: -120px;
}

.contact-section {
  margin-left: -120px;
}

.footer-section {
  margin-top: -70px;
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .content-main-section {
    width: 100%;
  }

  .content-sub-section.open {
    filter: blur(5px);
  }

  .introduction-section {
    padding: 0 7%;
    margin: 0;
  }

  .content-section-padding {
    padding: 0 7%;
    margin-left: 0;
  }

  .sidebar-section {
    display: none;
  }

  .contact-section {
    margin: 0;
  }

  .footer-section {
    margin-top: -85px;
  }
}
