.introduction-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    margin-bottom: 20%;
    width: 900px;
}

.about-body {
    width: 100%;
}

.greetings {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #C094D3;
    margin-bottom: 4px;
}

.full-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: #CCD6F6;
}

.job-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #8892B0;
    font-size: 20px;
}

.about-container {
    display: flex;
    padding-left: 20%;
    padding-right: 10%;
    flex-direction: row;
    /* width: 800px; */
}

.label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #C094D3;
}

.about-me-container {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.about-me-sub-container {
    display: flex;
    flex-direction: column;
}

.about-me {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8892B0;
    width: 100%;
    overflow: hidden;
    margin-right: 100px;
}

.dev-photo {
    height: 300px;
    width: 300px;
}

.tech-list {
    display: flex;
}

.tech-list-spacing {
    margin-right: 65px;
}

ul {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #8892B0;
  }
  
  .bullet-point {
    position: relative;
    padding-left: 20px;
  }
  
  .bullet-point::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #C094D3;
  }
  