.about-main-container {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30%;
}

.about-sub-container {
  width: 100%;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 19%;
  margin-bottom: 30%;
}

.greetings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #c094d3;
  margin-bottom: -10px;
}

.full-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  color: #ccd6f6;
}

.job-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #8892b0;
  font-size: 18px;
  padding-right: 50%;
}

.about-container {
  display: flex;
  justify-content: center;
}

.developer-profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #c094d3;

  margin-bottom: 10px;
}

.about-me-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-me-sub-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 70px;
}

.about-me-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #8892b0;
  width: 100%;
  overflow: hidden;
  margin-left: 15px;
}

.developer-photo {
  height: 280px;
  width: 280px;
}

.tech-listing {
  display: flex;
  flex-direction: row;
}

.tech-listing-spacing {
  margin-right: 20px;
}

ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #8892b0;
}

.bullet-point {
  position: relative;
  padding-left: 20px;
}

.bullet-point::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #c094d3;
}
