.home-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #0a1930;
}

.content-section {
  width: calc(100% - 120px);
}

.about-section {
  margin-bottom: 30%;
}

.contact-section {
  margin-bottom: 30%;
}

@media screen and (min-width: 1024px) {
  .footer-section {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .content-section {
    width: 100%;
  }

  .sidebar-section {
    display: none;
  }
}
