.introduction-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greetings {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #c094d3;
  margin-bottom: 10px;
}

.full-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  color: #ccd6f6;
  margin-bottom: 10px;
}

.job-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #8892b0;
  font-size: 18px;
  padding-right: 50%;
}

@media (max-width: 767px) {
  .greetings {
    font-size: 20px;
  }

  .full-name {
    font-size: 50px;
  }

  .job-description {
    padding-right: 0%;
    font-size: 16px;
  }
}
