.works-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  .works-panel-container {
    flex-direction: column;
  }
}